@using Testing.Models
@{
    ViewData["Title"] = "Index";
}

<div>
    <img src="~/images/1st-page.png" class="img-fluid" >
</div>

<div class="page-wrapper toggled page-content container-fluid">
    <div class="card-deck justify-content-center" style="padding-top:20px;">

        <div class="card text-white mb-3" style="max-width: 15rem; background-color:darkmagenta">
            <div class="card-header"><h5 class="card-title text-right">Topic</h5></div>
            <ul class="list-group list-group-flush" style="color:#000000">
                <a class="list-group-item" asp-action="Index" asp-controller="Topics">+ Topics List</a>
            </ul>
        </div>

        <div class="card text-white mb-3" style="max-width: 15rem; background-color:darkorchid">
            <div class="card-header"><h5 class="card-title text-right">Question</h5></div>
            <ul class="list-group list-group-flush" style="color:#000000">
                <a class="list-group-item" asp-action="Index" asp-controller="Questions">+ Questions List</a>
            </ul>
        </div>

        <div class="card text-white mb-3" style="max-width: 15rem; background-color:orchid">
            <div class="card-header"><h5 class="card-title text-right">Subject</h5></div>
            <ul class="list-group list-group-flush" style="color:#000000">
                <a class="list-group-item" asp-action="Index" asp-controller="Subjects">+ Subjects List</a>
            </ul>
        </div>

        <div class="card text-white mb-3" style="max-width: 15rem; background-color:palevioletred">
            <div class="card-header"><h5 class="card-title text-right">Exam</h5></div>
            <ul class="list-group list-group-flush" style="color:#000000">
                <a class="list-group-item" asp-action="Index" asp-controller="Exams">+ Exams List</a>
            </ul>
        </div>

        <div class="card text-white mb-3" style="max-width: 15rem; background-color:pink">
            <div class="card-header"><h5 class="card-title text-right">User</h5></div>
            <ul class="list-group list-group-flush" style="color:#000000">
                <a class="list-group-item" asp-action="Index" asp-controller="Users">+ Users List</a>
            </ul>
        </div>

    </div>
    </div>

