@using Testing.Models

@{
    Layout = "~/Views/Shared/_LayoutAuthen.cshtml";
}


<div class="row">
    <div class="col"></div>

    <div class="col-5 p-4">
        <div class="card p-4">
            <br />
            <div class="text-center h2">Sign In</div>
            <br /><br /><br />
                        <form method="post">

                            @using (Html.BeginForm())
                            {
                                using (Html.DevExtreme().ValidationGroup())
                                {

                                    @Html.AntiForgeryToken()

                                    @(Html.DevExtreme().Form<Testing.FrontEnd.Areas.Authen.Models.LoginViewModel>
                                        ()
                                        .ShowValidationSummary(true)
                                        .ID("form")
                                        .ShowColonAfterLabel(true)
                                        .ColCount(1)
                                        .LabelLocation(FormLabelLocation.Left)


                                        .Items(items =>
                                        {
                                        items.AddGroup()

                                        .Items(groupItems =>
                                        {
                                        groupItems.AddSimpleFor(m => m.Email).Editor(e => e.TextBox());
                                        groupItems.AddSimpleFor(m => m.Password).Editor(e => e.TextBox()
                                        .Mode(TextBoxMode.Password));

                                        });

                                        items.AddButton()
                                        .ButtonOptions(b => b.Text("Sign In").Width(100)
                                        .Type(ButtonType.Default)
                                        .StylingMode(ButtonStylingMode.Contained)
                                        .UseSubmitBehavior(true)
                                        ).HorizontalAlignment(HorizontalAlignment.Center);

                                        })
                                    )
                                    <div class="p-2 text-center">
                                        @(Html.DevExtreme().Button().Width(100)
                                        .Text("Register")
                                        .Type(ButtonType.Success)
                                        .StylingMode(ButtonStylingMode.Outlined)
                                        .OnClick("Register")
                                        )
                                    </div>
                                    <br />
                                }
                            }

                        </form>
        </div>

    </div>

    <div class="col"></div>
</div>

<script>

    function Register() {
        window.location.href = "/Authen/Authen/Register";
    }


</script>