@model  Testing.Models.Choice
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="form-group rounded">
        <br />
        <div class="col">
            <label asp-for="ChoiceString"></label>
        </div>
        <div class="col">
            @(Html.DevExtreme().TextAreaFor(m => m.ChoiceString).Width(350).Height(100))
        </div>
        <span asp-validation-for="ChoiceString" class="text-danger"></span>
    </div>