
<div class="mb-3">
    <div class="row pt-2 pb-0 rounded-bottom bg-light" >
        <div class="col-2">
            <a asp-controller="Home" asp-action="Index">TESTING</a>
        </div>

        <div id="" class=" col">

        </div>

        <div id="" class="text-right col-2">


            @if (User.Identity.IsAuthenticated)
            {
            <div class="row">
                <div class="col p-1">
                    <p> <i class="fas fa-user"></i> @User.Identity.Name </p>
                </div>
                <div class="col">
                    <a href="/Authen/Authen/SignOut">Logout</a>
                </div>

            </div>
            }

            else
            {
                <a href="/Authen/Authen/Register">Register</a>
            }

        </div>
    </div>
</div>

