<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>TESTING</title>
    <partial name="_JSandCSSpartial" />
</head>

<body>
    <main role="main" class="container ">

        <partial name="_HeadNav" />

        <div class="row ">

            <div class="col-2 bg-light">
                <partial name="_NavSide" />
            </div>
            <div class="m-2"></div>

            <div class="col">
                @RenderBody()
            </div>

        </div>

        <hr />
        <footer>
            <p>&copy; 2019 - Testing </p>
        </footer>

    </main>
    

</body>

</html>