@using Testing.Models
@{
    ViewData["Title"] = "Log in";
}

<br />
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4">

        @(Html.DevExtreme().Form<Testing.Models.User>()
             .ShowValidationSummary(true)
             .ID("form")
             .ShowColonAfterLabel(true)
             .ColCount(1)
             .LabelLocation(FormLabelLocation.Left)


             .Items(items =>
             {
                 items.AddGroup()

                            .Items(groupItems =>
                            {
                                groupItems.AddSimpleFor(m => m.UserName).Editor(e => e.TextBox());
                                groupItems.AddSimpleFor(m => m.Password).Editor(e => e.TextBox());
                                
                            });


                 items.AddButton()
                 .HorizontalAlignment(HorizontalAlignment.Left)
                 .ButtonOptions(b => b.Text("Log in")
                 .Type(ButtonType.Default)
                 .StylingMode(ButtonStylingMode.Contained)

                 );


             })
        )
    </div>
</div>
