@model Testing.Models.Choice

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="form-group">
    <div class="col">
        <label asp-for="ChoiceString"></label>
    </div>
    <div class="col row">
        <div class="col">
            @(Html.DevExtreme().TextBoxFor(m => m.ChoiceString).Width(350).Height(30).ShowClearButton(true))
        </div>
        <div class="col">
            @(Html.DevExtreme().CheckBoxFor(m => m.isCorrect))
        </div>
    </div>
</div>

