@model  Testing.Models.Exam
<div>
    <a href="@Url.Action("Index")">
        Exam Infomation
    </a>
    <a href="@Url.Action("Questions")">
      @Model.
    </a>
    <a href="@Url.Action("TestedBy")">
       Tested By
    </a>

</div>