<div id="mySidenav" class="sidenav">

    <div class="pt-2" id="myNav">

        <a href="@Url.Action("Index","Home")" class="nav-link disabled" id="Home">
            <i class="fas fa-home"></i>&nbsp;Home
        </a>
        
        <a href="@Url.Action("Index","Exams")" class="nav-link @checkCurrentController("Exams") " id="Exams">
            Exams
        </a>

    </div>

</div>

<style>
    body {
        font-family: 'Oswald', sans-serif;
    }

    .sidenav {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: none;
        padding-top: 16px;
        cursor: pointer;
    }

        .sidenav a {
            display: block;
            color: slategray;
            padding: 10px;
            text-decoration: none;
        }


            .sidenav a.active {
                background-color: #eeb6b6;
                color: white;
            }

            .sidenav a:hover {
                background-color: #efc2c2;
                color: white;
            }
</style>

<script>


    //var header = document.getElementById("mySidenav");
    //var btns = header.getElementsByClassName("nav-link");
    //for (var i = 0; i < btns.length; i++) {
    //    btns[i].addEventListener("click", function () {
    //        var current = document.getElementsByClassName("active");
    //        current[0].className = current[0].className.replace(" active", "");
    //        this.className += " active";
    //    });
    //}


    // $('#myNav a').on('click', function (e) {
    //    e.preventDefault()
    //    $(this).tab('show')
    //})

</script>

@functions {

    public string checkCurrentController(string nameController)
    {
        var currentCont = this.ViewContext.RouteData.Values["controller"].ToString();
        if (currentCont == nameController)
            return "active";
        return "";
    }
}




