@using Testing.Models
@model Testing.Models.Subject
@{
    ViewData["Title"] = "ListExams";
}

<div class="row">
    <div class="col-sm pb-4">
        <br />
        <div class="text-secondary p-1">
            <h4>List Exam of Subject :&nbsp;&nbsp;@Model.SubjectName</h4><hr />
        </div>
        <br />
        <partial name="_lstExams" />
        <br />        

        @(Html.DevExtreme().Button()
                .Text("Back")
                .Type(ButtonType.Back)
                .StylingMode(ButtonStylingMode.Contained)
                .OnClick("BacktoIndex")
        )
    </div>
    
</div>

<script>
    function BacktoIndex() {
       window.location.href = "/Admin/Subjects/Index";
    }

</script>