@model IEnumerable<Testing.Models.Subject>

@{
    ViewData["Title"] = "Index";
}

<div class="form-group row">
    <div class="col-3"></div>

    <div class="col">
        <br />
        <h2 class="text-info">Subject List</h2>

        <div class="text-right">
            <a asp-action="Create" class="btn btn-outline-info"> <i class="fas fa-plus"></i> &nbsp; New Subject</a>
        </div>
        <br /> <br />

        <div>
            <table class="table table-bordered">
                <tr class="table-info table-striped text-center">
                    <th>
                        @Html.DisplayNameFor(m => m.SubjectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.SubjectLevel)
                    </th>
                </tr>

                @foreach (var subject in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(m => subject.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(m => subject.SubjectLevel)
                </td>
                <partial name="_ButtonPartial" model="subject.SubjectId" />
            </tr>
                }
            </table>
        </div>
    </div>
    <div class="col-3"></div>
</div>