<div class="row">
    <div class="col-sm">
        <br />
        <h2 class="text-secondary">Topic List</h2>
        <br />
        @(Html.DevExtreme().TreeList<Testing.Models.Topic>().DataSource(d => d.Mvc()
                .Controller("Topics")
                .LoadAction("Get")
                .UpdateAction("Put")
                .InsertAction("Post")
                .DeleteAction("Delete")
                .Area("Admin")
                .Key("TopicId")

                )

             .KeyExpr("TopicId")
             .ParentIdExpr("ParentId")

             .HoverStateEnabled(true)

              .Paging(paging => paging.Enabled(true).PageSize(2))
             .Selection(s => s.Mode(SelectionMode.Single))
             //.ShowRowLines(true)
             .WordWrapEnabled(true)
             .Editing(editing =>
             {
                 editing.Mode(GridEditMode.Row).UseIcons(true);
                 editing.AllowAdding(true);
                 editing.AllowDeleting(true);
                 editing.AllowUpdating(true);
             })

                .FilterRow(filterRow => filterRow
                .Visible(true)
                .ApplyFilter(GridApplyFilterMode.Auto)
            )

            .SearchPanel(searchPanel => searchPanel
                .Visible(true)
                .Width(240)
                .Placeholder("Search...")
            )

            .HeaderFilter(headerFilter => headerFilter.Visible(true))
            .Columns(columns =>
            {
                columns.AddFor(m => m.TopicName).Caption("Topic Name");
                columns.AddFor(m => m.ParentId).Caption("Parent Name").Visible(false)

                    .Lookup(lookup => lookup
                    .DataSource(d => d.Mvc().Controller("Topics").LoadAction("Get").Key("TopicId"))
                    .DisplayExpr("TopicName")
                    .ValueExpr("TopicId"))

                    .FormItem(i => i
                    .Editor(e => e.SelectBox()
                    .DataSource(d => d.Mvc().Controller("Topics").LoadAction("Get").Key("TopicId"))
                    .DisplayExpr("TopicName")
                    .ValueExpr("TopicId"))
                    );

            })
            .ShowBorders(true)
            .OnInitNewRow("treeList_onInitNewRow")
            .OnCellDblClick("selection_changed")
        )

    </div>
</div>
<br /><br />
<script>
    //new row with Null but Othet with Parent
    function treeList_onInitNewRow(e) {
        if (e.data.ParentId == "") {
            e.data.ParentId = null;
        }
    }
    //Click single row ==> New Page with QuestionId
    function selection_changed(e) {
        window.location.href = "/Admin/Topic/Index/" + e.data.TopicId;
    }
</script>
