<div class="row">
    <div class="col-sm">
        <br />
        <h2 class="text-secondary">Exam List</h2>
        <br />
        @model Testing.Models.UserExam
        @(Html.DevExtreme().DataGrid<Testing.Models.Exam>
    ().DataSource(d => d.Mvc()
    .Controller("Exams")
    .LoadAction("Get")

    .Area("Users")
    .Key("ExamId")


    )

    .ID("gridContainer")

    .Paging(paging => paging.Enabled(true).PageSize(10))

    .FilterRow(filterRow => filterRow
    .Visible(true)
    .ApplyFilter(GridApplyFilterMode.Auto)
    )
    .SearchPanel(searchPanel => searchPanel
    .Visible(true)
    .Width(240)
    .Placeholder("Search...")
    )
    .HeaderFilter(headerFilter => headerFilter.Visible(true))
    .HoverStateEnabled(true)
    .Selection(s => s.Mode(SelectionMode.Single))

    .Columns(columns =>
    {

    columns.AddFor(m => m.ExamName).Caption("Exam Name").Width(200);

    columns.AddFor(m => m.SubjectId).Caption("Subject Name")
    .Lookup(lookup => lookup
    .DataSource(d => d.Mvc().Controller("Exams").LoadAction("GetSubject").Key("SubjectId"))
    .DisplayExpr("SubjectName")
    .ValueExpr("SubjectId")
    );

    columns.AddFor(m => m.StartDate).Caption("Start Date").FormItem(i => i
    .Editor(e => e.DateBox().DisplayFormat("EEEE,dd MMM yyyy")));

    columns.AddFor(m => m.ExamDuration).Caption("Duration (Days)");
    columns.AddFor(m => m.Version).Caption("Version");
    })

    .ShowBorders(true)
    .Selection(s => s.Mode(SelectionMode.Single))
    .OnSelectionChanged("selection_changed")

        )
        <a asp-action="Index">
            Back
        </a>
    </div>
</div>
<br />

<form asp-action="AddExams" >
    <input type="hidden" name="ExamName" id="ExamName">

    <input type="submit" class="btn btn-outline-success" value="SUBMIT" />

    <script>
        function selection_changed(selectedItems) {
            var data = selectedItems.selectedRowsData;
            document.getElementById("ExamName").value = JSON.stringify(data);
        }

    </script>

</form>









































