<div class="row">
    <div class="col-1"></div>
    <div class="col-sm pb-4">
        <br />
        <h2 class="text-secondary">Subject List</h2>
        <br />
        @using Testing.Models
        @model  Testing.Models.Subject
        @(Html.DevExtreme().DataGrid<Testing.Models.Subject>
            ()
            .DataSource(d => d.Mvc()
            .Controller("Subjects")
            .LoadAction("Get")
            .UpdateAction("Put")
            .InsertAction("Post")
            .DeleteAction("Delete")
            .Area("Admin")
            .Key("SubjectId"))


            .ID("gridContainer")
             .Paging(paging => paging.Enabled(true).PageSize(10))
            .Editing(editing =>
            {
            editing.Mode(GridEditMode.Form).UseIcons(true);
            editing.AllowAdding(true);
            editing.AllowDeleting(true);
            editing.AllowUpdating(true);
            })


            .FilterRow(filterRow => filterRow
            .Visible(true)
            .ApplyFilter(GridApplyFilterMode.Auto)
            )
            .SearchPanel(searchPanel => searchPanel
            .Visible(true)
            .Width(240)
            .Placeholder("Search...")
            )
            .HeaderFilter(headerFilter => headerFilter.Visible(true))
            .HoverStateEnabled(true)
            .Selection(s=>s.Mode(SelectionMode.Single))

            .Columns(columns =>
            {
            columns.AddFor(m => m.SubjectName).Caption("Subject Name");



            columns.AddFor(m => m.SubjectLevel).Caption("Subject Level")
            .Lookup(lookup => lookup
            .DataSource(Html.GetEnumSelectList<SubjectLevel>()
                
                .Select(l => new { Value = int.Parse(l.Value), Text = l.Text }))
                .ValueExpr("Value")
                .DisplayExpr("Text"))
                .FormItem(i => i
                .Editor(e => e.SelectBox()
                .ID("SubjectLevel")
                .DataSource(Html.GetEnumSelectList<SubjectLevel> ()
                   
                    .Select(l => new { Value = int.Parse(l.Value), Text = l.Text }))
                    .ValueExpr("Value")
                    .DisplayExpr("Text"))
                    );
                    })

            .ShowBorders(true)
            .OnCellDblClick("selection_changed")
            )

    </div>

    <div class="col-1"></div>
  
   
</div>

<script>

    function selection_changed(e) {

        if (e.data.SubjectId != null) {
            window.location.href = "/Admin/Subject/" + e.data.SubjectId + "/Detail";
        }
    }

</script>