@using Testing.Models
@model Testing.Models.Exam

@{
    ViewData["Title"] = "AssignQuestions";
}

<div class="row">
    <div class="col-sm pb-4">
        <br />
        <div class="text-secondary p-1">
            <h4>Add Question to Exam :&nbsp;&nbsp;@Model.ExamName</h4>
        </div>
        <br />
        <partial name="_NavExam" />
        <br />

        <partial name="_GetAllQuestions" />
    </div>
</div>