@using Testing.Models
@{
    ViewData["Title"] = "TestedBy";
}

<div class="row">
    <div class="col pb-4 mb-5">
        <br />
        <div class="text-secondary p-1">
            <h4>Tested By : </h4>
        </div> 
        <br />
        <partial name="_NavExam" />
        <br />

        @(Html.DevExtreme().Button()
                .Text("Back")
                .Type(ButtonType.Back)
                .StylingMode(ButtonStylingMode.Contained)
                .OnClick("BacktoIndex")
        )

    </div>

   
</div>


<script>
    function BacktoIndex() {
        window.location.href = "/Admin/Exams/Index";
    }

</script>